/* Your Website Styles */

body{

	background: url("../img/grey_wall.png") repeat;
	font-family: 'Abril Fatface', cursive;
}
h1{
	color:#F91FD2;
}

h3{
	font-size:24px ;
	color:#710A86;
}

/* Show Grid */
{
	background: url("../img/grey_wall.png") repeat;
}