/* Your Website Styles */

body{

	background: url("../img/grey_wall.png") repeat;
	font-family: 'Abril Fatface', cursive;
}
h1
{font-size:40px;
	color:#F91FD2;
	
	padding:25px;
}

h3{
	font-size:24px ;
	color:#BE0DC8;
	
}

/* Show Grid */
{
	background: url("../img/grey_wall.png") repeat;
}